<script>


    //document.write('<link href="assets/css/demo.css?v='+new Date().getTime()+'" rel="stylesheet" />');

</script>






<!--  CSS for Demo Purpose, don't include it in your project     -->


<!--     Fonts and icons     -->
<link href="assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
-->


<body>

	<div class="wrapper">
		<div class="sidebar" data-color="blue" data-image="assets/img/sidebar-1.jpg">

			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="#/" class="simple-text">
					<img src="assets/img/logo.png" class="img-responsive" align="center" style="width:100px;">
				</a>
			</div>

			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="">
						<a href="#/">
							<p>Inicio</p>
						</a>
					</li>
					<li class="">
						<a href="#/estudios/ver">
							<p>Estudios</p>
						</a>
					</li>

					<li class="" ng-show="dash.rolUsuario === '1'">
						<a href="#/admin/index">
							<p>Administración</p>
						</a>
					</li>

					<li class="">
						<a href="#/user/info">
							<p>Mis datos</p>
						</a>
					</li>


					<li class="">

						<a href="javascript:void(0)" ng-click="dash.logout()">
							<p>Salir</p>
						</a>
					</li>

				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">

						<!--<ul class="nav navbar-nav navbar-right">
                                                    
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
										<i class="material-icons">person</i>
										<p class="hidden-lg hidden-md">{{user.nombre}}</p>
								  </a>
								  <ul class="dropdown-menu">
									<li><a href="javascript:void(0)">Mis datos</a></li>
									<li><a href="javascript:void(0)" ng-click="dash.logout()">Salir</a></li>
								  </ul>
                                                            
							   
							</li>
						</ul>
                                            -->
						<!--<a href="javascript:void(0)" ng-click="dash.logout()">Salir</a>-->

					</div>
				</div>
			</nav>

			<div class="content">
				<div ui-view="page"></div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">

					</nav>

				</div>
			</footer>
		</div>
	</div>

</body>








<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->

<!-- Material Dashboard javascript methods -->
<script src="assets/js/material-dashboard.js"></script>

<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
	$(document).ready(function () {

		// Javascript method's body can be found in assets/js/demos.js
		//demo.initDashboardPageCharts();

	});
</script>