
    .content {
        font-family: Arial, Helvetica, sans-serif;
        width: 1000px;
        /*border-style: ridge;*/
        height: auto;
        margin: auto;
    }

    .text-center {
        text-align: center;
    }

    .centrar {
        width: 70%;
        margin: auto;
    }

    .centrar2 {
        width: 90%;
        margin: auto;
    }

    .centrar100 {
        width: 100%;
        margin: auto;
    }

    .border {
        border: solid;
        border-color: black;
        border-width: 1px;
        margin: 5px 10px 0px 0px;
    }

    .subrayado {
        text-decoration-line: underline;
    }

    table.example-table,
    .example-table td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table.example-table2,
    .example-table2 td {
        border: 0px solid black;
        border-collapse: collapse;
    }

    .elemento_tabla {
        padding: 5px;
        margin-left: 10px;
    }

    td p {
        margin-left: 10px;
    }

    .avatar {

        background-position: center;
        background-size: cover;
        height: 64px;
        width: 64px;
        margin: 0px 40px 5px 65px;
        border: 1px solid black;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }