<style>
    .flota {
        float: right;
        margin-left: 35px;
    }
</style>
<div class="container-fluid" ng-controller="AdminController as admin">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4>Administración del sistema</h4>
                    <p class="category">En esta sección podrás administrar diferentes contenidos, como administración de
                        usuarios, catalogos, etc...</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-content">
                    <button type=" button" class="btn btn-primary"
                        onclick="location.href='#/admin/usuario/ver'">Administración de
                        usuarios</button>
                    <button type="button" class="btn btn-primary" ng-if="admin.tipoUsuario==='1'"
                        onclick="location.href='#/admin/institucion/ver'">Administración de instituciones</button>

                    <button type="button" class="btn btn-primary" ng-if="admin.tipoUsuario==='1'"
                        onclick="location.href='#/admin/fam/ver'">Administración de familias</button>
                    <button type="button" class="btn btn-primary" ng-if="admin.tipoUsuario==='1'"
                        onclick="location.href='#/admin/cat/ver'">Administración de ciclo escolar</button>
                    <button type="button" class="btn btn-primary" ng-if="admin.tipoUsuario==='1'"
                        onclick="location.href='#/admin/colonias'">Administración de colonias</button>
                </div>
            </div>
        </div>

    </div>

</div>