<div ng-controller="ColoniasController as scope">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4>Colonias</h4>
                    <p class="category">En esta sección podrás administrar las colonias y zonas del sistema.</p>


                </div>
                <button title="Actualizar información" type="button" class="btn btn-primary btn-sm" ng-click="scope.add()">
                    <span class="glyphicon glyphicon-pencil">Agregar colonia</span>
                </button>

                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">

                    <p>
                        Filrar por zona:
                        <select ng-model="scope.busqueda.zona" ng-change="scope.cambiaFiltro()">
                            <option value="">-</option>
                            <option ng-repeat="z in scope.listaZonas" value="{{z.zona}}">{{z.zona}}</option>
                        </select>
                    </p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th class="text-center">ID</th>
                        <th class="text-center">Nombre colonia</th>
                        <th class="text-center">Zona</th>
                        <th class="text-center">Opciones</th>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-repeat="c in scope.listaColoniasMostrar| startFrom:scope.currentPage * scope.pageSize | limitTo:scope.pageSize">
                                <td>{{c.id_colonia}}</td>
                                <td>{{c.nombre_colonia}}</td>
                                <td>{{c.zona}}</td>
                                <td>
                                    <button title="Actualizar información" type="button" class="btn btn-primary btn-sm" ng-click="scope.view(c)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="scope.delet(c)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group p-t-20 text-right" ng-show="scope.listaColoniasMostrar.length > 0">
                    <div>
                        <ul class="pager" ng-if="scope.listaColoniasMostrar.length > 0">
                            <li>
                                <button type="button" class="btn btn-xs btn-default btn-flat-border pull-left" ng-disabled="scope.currentPage === 0" ng-click="scope.currentPage = scope.currentPage - 1">Anterior</button>
                                <button type="button" class="btn btn-xs btn-default btn-flat-border pull-right" ng-disabled="scope.currentPage >= scope.listaColoniasMostrar.length / scope.pageSize - 1" ng-click="scope.currentPage = scope.currentPage + 1">Siguiente</button>
                            </li>
                            <li>
                                <span class="pager-number">{{scope.currentPage + 1}} de {{scope.numberOfPages()}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalX" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" ng-if="!scope.update">Registro colonia</h5>
                    <h5 class="modal-title" id="exampleModalLabel" ng-if="scope.update">Actualizar colonia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre colonia</label>
                                    <input ng-model="scope.colonia.nombre_colonia" type="text" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                    <label>Nueva zona:</label>
                                    <input ng-model="scope.is_nueva_zona" type="checkbox">
                                </div>
                                
                                <div class="form-group" ng-if="scope.is_nueva_zona">
                                    <label>Zona: </label>
                                    <input ng-model="scope.colonia.zona" type="text" class="form-control">
                                </div>
                                
                                <div class="form-group" ng-if="!scope.is_nueva_zona">
                                    <label>Zona:</label>
                                    <select class="form-control" ng-model="scope.colonia.zona">
                                        <option value="">-</option>
                                        <option ng-repeat="z in scope.listaZonas" value="{{z.zona}}">{{z.zona}}</option>
                                    </select>
                                </div>
                                
                                

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" ng-click="scope.save()" ng-disabled="scope.is_saving">Guardar</button>

                            </div>
                        </div>



                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
