
<div class="container-fluid" ng-controller="UsuarioController as obj">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 >Usuarios</h4>
                    <p class="category">En esta sección podrás administrar tus usuarios, crear usuarios, otorgar permisos, eliminar usuarios etc...</p>
                </div>

                <div class="card-content">
                    <button type="button" class="btn btn-success" ng-click="obj.agregarUsuario()">Crear usuario</button>
                </div>

                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Rol</th>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">Opciones</th>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-repeat="u in obj.usuarios">
                                <td>{{u.nombre}} {{u.apellido_paterno}} {{u.apellido_materno}}</td>
                                <td>{{u.email}}</td>
                                <td> 
                                    <div ng-if="obj.tipoUsuario === '1'">
                                        <span ng-if="u.rol === '1'" class="label label-success">{{u.rol| tipoAdminWise }}</span>
                                        <span ng-if="u.rol === '2'" class="label label-info">{{u.rol| tipoAdminWise }}</span>
                                    </div>
                                    
                                    <div ng-if="obj.tipoUsuario === '2'">
                                        <span ng-if="u.rol === '1'" class="label label-success">{{u.rol| tipoAdmin }}</span>
                                        <span ng-if="u.rol === '2'" class="label label-info">{{u.rol| tipoAdmin }}</span>
                                    </div>

                                </td>
                                <td> 
                                    <span ng-if="u.estatus === '1'" class="label label-warning">{{u.estatus| estatusUsuario }}</span>
                                    <span ng-if="u.estatus === '0'" class="label label-default">{{u.estatus| estatusUsuario }}</span>
                                </td>
                                <td>

                                    <button type="button" class="btn btn-primary btn-sm" ng-click="obj.verActualizarUsuario(u)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-disabled="u.id_usuario === user.id_usuario" ng-click="obj.eliminarUsuario(u)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </div>





    <!-- modal add user-->
    <div class="modal fade ativa-scroll" id="modal_agregar_usuario" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content pagination-centered text-center">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <button type="button" class="close cros_close_modal" data-dismiss="modal">&times;</button>
                                    <h4 ng-show="obj.nuevoUsuario">Agregar nuevo usuario</h4>
                                    <h4 ng-show="obj.updateUsuario">Actualizar información de: {{ obj.usuario.nombre}}</h4>
                                    <p class="category">Completa la información</p>
                                </div>
                                <hr>
                                <div class="card-content">
                                    <form name="myForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label class="control-label">Nombre:</label>
                                                    <input type="text" class="form-control" ng-model="obj.usuario.nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label class="control-label">Apellido paterno:</label>
                                                    <input type="text" class="form-control" ng-model="obj.usuario.apellido_paterno">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label class="control-label">Apellido materno:</label>
                                                    <input type="text" class="form-control" ng-model="obj.usuario.apellido_materno" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label class="control-label">Username: </label>
                                                    <input type="text" class="form-control" ng-model="obj.usuario.username"
                                                           required ng-change="obj.checkUser()" ng-disabled="obj.updateUsuario">
                                                    <div ng-show="obj.checkingUser">checking....</div>
                                                    <div ng-show="obj.validUser" class="label label-success">Nombre de usuario disponible</div>
                                                    <div ng-show="obj.NotvalidUser" class="label label-danger">Nombre de usuario NO disponible</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label class="control-label">Email:</label>
                                                    <input type="text" class="form-control" ng-model="obj.usuario.email">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label class="control-label">Tipo de usuario: </label>
                                                    <md-radio-group  ng-model="obj.usuario.rol">

                                                        <md-radio-button value="1" class="md-primary">Administrador</md-radio-button>
                                                        <md-radio-button value="2">Usuario</md-radio-button>

                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="obj.nuevoUsuario">
                                            <span>* Asegurese de verificar los datos capturados, ya que el sistema notificara al nuevo usuario atravez de un correo 
                                                electrónico en el cual también estaran contenidos los datos de acceso al sistema.</span>
                                        </div>

                                        <button type="button" class="btn btn-primary pull-right" ng-click="obj.guardarUsuario()">Guardar usuario</button>
                                        <button type="button" class="btn btn-default pull-right" ng-click="obj.cancelar()">Cancelar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>