<style>
    .flota {
        float: right;
        margin-left: 35px;
    }

    .main-panel {
        width: 100%;
    }

    .uli {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .lista {
        float: left;
    }

    .lista .i {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        /*width: 65px;*/
        height: 100px;
        /*margin: 0 100% 0 100%;*/
    }

    .i {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        /*width: 65px;*/
        height: 80px;
        /*margin: 0 100% 0 100%;*/
        margin: auto;
    }
</style>

<body>
    <div class="wrapper">
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" ng-show="!cl.error && cl.acepto_terminos">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="views" ui-view></div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" ng-show="cl.error">
                    <div class="row">
                        <h1 ng-if="cl.errorError">Error al recuperar su información.</h1>
                        <h1 ng-if="cl.end_captura">Su solicitud ha sido enviada exitosamente.</h1>
                        <h1 ng-if="cl.token_vencido">Su tiempo de captura ha finalizado.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-->
    <div class="modal fade ativa-scroll" id="modal_aviso" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content pagination-centered text-center">
                <div class="modal-body" ng-if="cl.estudioToken.familia.id_institucion === '14'">
                    <h2>AVISO DE PRIVACIDAD</h2>
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center"><img class="i" src="assets/img/iter.png" class="img-responsive"
                                        align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/alamos.png"
                                        class="img-responsive" align="center"></th>
                            </tr>
                        </thead>
                    </table>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">AVISO DE PRIVACIDAD</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">&nbsp;</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">CENTRO DE ESTUDIOS ACUEDUCTO AC (COLEGIO
                            &Aacute;LAMOS), es responsable de los datos personales de los alumnos y de sus padres. La
                            finalidad del tratamiento de sus dato s personales es para establecer contacto con usted(es)
                            , integrar el respectivo expediente, conocer sus necesidades, adem&aacute;s de poder
                            facturar las contraprestaciones que nos entreguen por concepto de colegiaturas, as&iacute;
                            como informarle sobre los cambios en los servicios del colegio.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">&nbsp;</span></p>
                    <ol style="margin-bottom:0cm;margin-top:0cm;" start="1" type="I">
                        <li
                            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;color:black;text-align:center;'>
                            <span style="font-size:13px;line-height:107%;">Identidad y domicilio del
                                responsable:&nbsp;</span></li>
                    </ol>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">En cumplimiento a lo dispuesto por la Ley Federal de
                            Datos Personales en Posesi&oacute;n de Particulares y &nbsp;su Reglamento, y los
                            lineamientos emitidos por la Secretar&iacute;a de Econom&iacute;a, CENTRO DE ESTUDIOS
                            ACUEDUCTO AC (COLEGIO &Aacute;LAMOS), es el responsable del tratamiento de sus datos
                            personales. El tratamiento comprende la obtenci&oacute;n, uso, divulgaci&oacute;n,
                            almacenamiento, acceso, manejo, aprovechamiento, transferencia o disposici&oacute;n de sus
                            datos personales.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">II. Datos personales que ser&aacute;n objeto de
                            tratamiento:</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">CENTRO DE ESTUDIOS ACUEDUCTO AC (COLEGIO
                            &Aacute;LAMOS) le solicitar&aacute; datos personales relativos a identificaci&oacute;n
                            (nombre, edad, domicilio de casa u oficina, tel&eacute;fono m&oacute;vil o celular, correo
                            electr&oacute;nico, registro federal de contribuyentes, estado civil, escolaridad)
                            referencias personales y sensibles (estado de salud, enfermedades cr&oacute;nicas, alergias,
                            tipo de sangre) de sus hijos.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">III. Finalidades del tratamiento de datos:</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">CENTRO DE ESTUDIOS ACUEDUCTO AC (COLEGIO
                            &Aacute;LAMOS) le informa que los datos personales que usted(es) &nbsp;y/o sus hijos
                            proporcionen, se utilizar&aacute;n con la finalidad de establecer contacto, integrar el
                            respectivo expediente, conocer sus necesidades, adem&aacute;s de poder facturar las
                            contraprestaciones que nos entreguen por concepto de colegiaturas, as&iacute; como para
                            informarles cambios en los servicios del &nbsp; centro escolar. Para el caso de solicitud de
                            becas, les ser&aacute;n solicitadas referencias bancarias, comerciales y personales para
                            efectos de conocer su capacidad de pago e historial de comportamiento de dicha capacidad.
                            Los datos que nos proporcione relativos a su tarjeta o cuenta bancaria s&oacute;lo se
                            utilizar&aacute;n para cobrarle los servicios que prestamos y/o como garant&iacute;a de
                            pago, en su caso</span></p>
                </div>
                <div class="modal-body"
                    ng-if="cl.estudioToken.familia.id_institucion === '15' || cl.estudioToken.familia.id_institucion === '16'">
                    <h2>AVISO DE PRIVACIDAD</h2>
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center"><img class="i" src="assets/img/iter.png" class="img-responsive"
                                        align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/fontanar.png"
                                        class="img-responsive" align="center"></th>
                            </tr>
                        </thead>
                    </table>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">AVISO DE PRIVACIDAD</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">&nbsp;</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">SISTEMA EDUCATIVO FEMENINO AC (COLEGIO FONTANAR), es
                            responsable de los datos personales de los alumnos y de sus padres. La finalidad del
                            tratamiento de sus dato s personales es para establecer contacto con usted(es) , integrar el
                            respectivo expediente, conocer sus necesidades, adem&aacute;s de poder facturar las
                            contraprestaciones que nos entreguen por concepto de colegiaturas, as&iacute; como
                            informarle sobre los cambios en los servicios del colegio.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">&nbsp;</span></p>
                    <ol style="margin-bottom:0cm;margin-top:0cm;" start="1" type="I">
                        <li
                            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;color:black;text-align:center;'>
                            <span style="font-size:13px;line-height:107%;">Identidad y domicilio del
                                responsable:&nbsp;</span></li>
                    </ol>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">En cumplimiento a lo dispuesto por la Ley Federal de
                            Datos Personales en Posesi&oacute;n de Particulares y &nbsp;su Reglamento, y los
                            lineamientos emitidos por la Secretar&iacute;a de Econom&iacute;a, SISTEMA EDUCATIVO
                            FEMENINO AC (COLEGIO FONTANAR),, es el responsable del tratamiento de sus datos personales.
                            El tratamiento comprende la obtenci&oacute;n, uso, divulgaci&oacute;n, almacenamiento,
                            acceso, manejo, aprovechamiento, transferencia o disposici&oacute;n de sus datos
                            personales.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">II. Datos personales que ser&aacute;n objeto de
                            tratamiento:</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">SISTEMA EDUCATIVO FEMENINO AC (COLEGIO FONTANAR), le
                            solicitar&aacute; datos personales relativos a identificaci&oacute;n (nombre, edad,
                            domicilio de casa u oficina, tel&eacute;fono m&oacute;vil o celular, correo
                            electr&oacute;nico, registro federal de contribuyentes, estado civil, escolaridad)
                            referencias personales y sensibles (estado de salud, enfermedades cr&oacute;nicas, alergias,
                            tipo de sangre) de sus hijos.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">III. Finalidades del tratamiento de datos:</span></p>
                    <p><span style='font-size:13px;font-family:"Calibri",sans-serif;color:black;'>SISTEMA EDUCATIVO
                            FEMENINO AC (COLEGIO FONTANAR), le informa que los datos personales que usted(es) &nbsp;y/o
                            sus hijos proporcionen, se utilizar&aacute;n con la finalidad de establecer contacto,
                            integrar el respectivo expediente, conocer sus necesidades, adem&aacute;s de poder facturar
                            las contraprestaciones que nos entreguen por concepto de colegiaturas, as&iacute; como para
                            informarles cambios en los servicios del &nbsp; centro escolar. Para el caso de solicitud de
                            becas, les ser&aacute;n solicitadas referencias bancarias, comerciales y personales para
                            efectos de conocer su capacidad de pago e historial de comportamiento de dicha capacidad.
                            Los datos que nos proporcione relativos a su tarjeta o cuenta bancaria s&oacute;lo se
                            utilizar&aacute;n para cobrarle los servicios que prestamos y/o como garant&iacute;a de
                            pago, en su caso</span></p>
                </div>
                <div class="modal-body" ng-if="cl.estudioToken.familia.id_institucion === '13'">
                    <h2>AVISO DE PRIVACIDAD</h2>
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center"><img class="i" src="assets/img/iter.png" class="img-responsive"
                                        align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/kidu.png" class="img-responsive"
                                        align="center"></th>
                            </tr>
                        </thead>
                    </table>

                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">AVISO DE PRIVACIDAD</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <strong><span style="font-size:20px;color:#222A35;">&nbsp;</span></strong></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">SISTEMA EDUCATIVO ACUEDUCTO AC (KIDU), es responsable
                            de los datos personales de los alumnos y de sus padres. La finalidad del tratamiento de sus
                            dato s personales es para establecer contacto con usted(es) , integrar el respectivo
                            expediente, conocer sus necesidades, adem&aacute;s de poder facturar las contraprestaciones
                            que nos entreguen por concepto de colegiaturas, as&iacute; como informarle sobre los cambios
                            en los servicios del colegio.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">&nbsp;</span></p>
                    <ol style="margin-bottom:0cm;margin-top:0cm;" start="1" type="I">
                        <li
                            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;color:black;text-align:center;'>
                            <span style="font-size:13px;line-height:107%;">Identidad y domicilio del
                                responsable:&nbsp;</span></li>
                    </ol>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">En cumplimiento a lo dispuesto por la Ley Federal de
                            Datos Personales en Posesi&oacute;n de Particulares y su Reglamento, y los lineamientos
                            emitidos por la Secretar&iacute;a de Econom&iacute;a, SISTEMA EDUCATIVO ACUEDUCTO AC (KIDU),
                            es el responsable del tratamiento de sus datos personales. El tratamiento comprende la
                            obtenci&oacute;n, uso, divulgaci&oacute;n, almacenamiento, acceso, manejo, aprovechamiento,
                            transferencia o disposici&oacute;n de sus datos personales.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">II. Datos personales que ser&aacute;n objeto de
                            tratamiento:</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">SISTEMA EDUCATIVO ACUEDUCTO AC (KIDU), le
                            solicitar&aacute; datos personales relativos a identificaci&oacute;n (nombre, edad,
                            domicilio de casa u oficina, tel&eacute;fono m&oacute;vil o celular, correo
                            electr&oacute;nico, registro federal de contribuyentes, estado civil, escolaridad)
                            referencias personales y sensibles (estado de salud, enfermedades cr&oacute;nicas, alergias,
                            tipo de sangre) de sus hijos.</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">III. Finalidades del tratamiento de datos:</span></p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style="font-size:13px;color:black;">SISTEMA EDUCATIVO ACUEDUCTO AC (KIDU), le informa que
                            los datos personales que usted(es) &nbsp;y/o sus hijos proporcionen, se utilizar&aacute;n
                            con la finalidad de establecer contacto, integrar el respectivo expediente, conocer sus
                            necesidades, adem&aacute;s de poder facturar las contraprestaciones que nos entreguen por
                            concepto de colegiaturas, as&iacute; como para informarles cambios en los servicios del
                            &nbsp;centro escolar. Para el caso de solicitud de becas, les ser&aacute;n solicitadas
                            referencias bancarias, comerciales y personales para efectos de conocer su capacidad de pago
                            e historial de comportamiento de dicha capacidad. Los datos que nos proporcione relativos a
                            su tarjeta o cuenta bancaria s&oacute;lo se utilizar&aacute;n para cobrarle los servicios
                            que prestamos y/o como garant&iacute;a de pago, en su caso</span></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">No acepto</button>
                    <button type="button" class="btn btn-success" ng-click="cl.aceptarAviso()">Si acepto</button>
                </div>
            </div>
        </div>
    </div>


    <!-- modal-->
    <div class="modal fade ativa-scroll" id="modal_aviso_wise" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content pagination-centered text-center">
                <div class="modal-body">
                    <h2>AVISO DE PRIVACIDAD HRWISE</h2>
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center"><img class="i" src="assets/img/iter.png" class="img-responsive"
                                        align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/kidu.png" class="img-responsive"
                                        align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/alamos.png"
                                        class="img-responsive" align="center"></th>
                                <th class="text-center"><img class="i" src="assets/img/fontanar.png"
                                        class="img-responsive" align="center"></th>
                            </tr>
                        </thead>
                    </table>
                    <div style="font-size:13px;font-family:&quot;Arial Narrow&quot;,sans-serif;">
                        <p>
                            De conformidad con las disposiciones establecidas en la Ley Federal de Protección de Datos
                            en
                            Posesión de Particulares y demás relacionados, los datos personales que a Usted pertenezcan
                            y que obren en poder de Grupo Educativo ITER: Colegio Álamos, Fontanar y KIDÚ Preschool y/o
                            H.R. WISE S.A. DE C.V. por cualquier
                            causa,
                            se tratan al tenor de lo que exige la legislación que resulte vigente para dicha materia.
                            El uso de su información personal es con el propósito de la realización del trámite de becas
                            escolares dentro de nuestra Institución. Cabe señalar que Usted tendrá en cualquier tiempo
                            el derecho de acceder, modificar o cancelar todos y cada uno de dichos datos,
                            así como oponerse al uso de los mismos, siendo responsable de las consecuencias jurídicas
                            que se encuentran contempladas en las leyes o reglamentos respectivos
                        </p>
                        <p>Para leer nuestro aviso de privacidad completo puede hacerlo en las páginas de internet,
                            <a href="https://www.hrwise.com.mx" target="_blank">www.hrwise.com.mx</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">No acepto</button>
                    <button type="button" class="btn btn-success" ng-click="cl.aceptarAvisoWise()">Si acepto</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-->
    <div class="modal fade ativa-scroll" id="modal_reglamento" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content pagination-centered text-center">
                <div class="modal-body">


                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center"><img class="i" src="assets/img/iter.png" class="img-responsive"
                                        align="center"></th>
                        </thead>
                    </table>
                    <h2>REGLAMENTO DE BECAS GRUPO EDUCATIVO ITER</h2>

                    <ol style="list-style-type: decimal;">
                        <li>Este reglamento aplica para aqu&eacute;llos solicitantes de las diferentes secciones que integran el Grupo Educativo ITER: Colegio &Aacute;lamos, Fontanar y KID&Uacute; Preschool que aspiran a obtener alg&uacute;n tipo de beca.</li>
                        <li>Requisitos para aceptar la solicitud:<ol style="list-style-type: lower-alpha;">
                                <li>No presentar adeudos por concepto de colegiaturas, libros, cuotas y otros.</li>
                                <li>Haber pagado la reinscripci&oacute;n del ciclo al que aspira a obtener la beca.</li>
                                <li>Haberse realizado el estudio socioecon&oacute;mico.</li>
                                <li>Haber enviado toda la documentaci&oacute;n necesaria para el estudio.</li>
                                <li>Haber realizado la solicitud y estudio dentro del per&iacute;odo destinado para ello.</li>
                                <li>Haber demostrado inter&eacute;s y lealtad a la Instituci&oacute;n.</li>
                                <li>Para los grados donde se tienen calificaci&oacute;n con criterio num&eacute;rico, el promedio del alumno solicitante deber&aacute; ser igual o mayor a 8.0 u 80.0 en materias b&aacute;sicas&nbsp;</li>
                            </ol>
                        </li>
                        <li>El porcentaje otorgado no ser&aacute; acumulativo a ning&uacute;n otro tipo de beca, en caso de obtener alg&uacute;n otro tipo de beca se deber&aacute; de elegir.</li>
                        <li>Los resultados del Estudio Econ&oacute;mico se consideran v&aacute;lidos &uacute;nicamente para el grado al que solicita Beca, con Vigencia de tres meses.</li>
                        <li>Las becas NO se renuevan de forma autom&aacute;tica, cada ciclo escolar se debe realizar el proceso.</li>
                    </ol>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>&nbsp;</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'><strong>MARZO 2024</strong></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">No acepto</button>
                    <button type="button" class="btn btn-success" ng-click="cl.aceptarReglamento()">Si acepto</button>
                </div>
            </div>
        </div>
    </div>
</body>