<style>
    .flota {
        float: right;
        margin-left: 35px;
    }
</style>
<div class="container-fluid" ng-controller="EstudiosVerSeguimientoController as scope">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4>
                        <strong ng-show="scope.tipoUsuario === '1'">Estudios socioeconomicos HRWise</strong>
                        <strong ng-show="scope.tipoUsuario === '2'">Estudios socioeconomicos 
                            <p>{{dash.institucion.nombre_institucion}} -
                                {{dash.institucion.clave_institucion}}</p>
                            <div ng-repeat="i in scope.institucion && control.instituciones.length > 0">
                                {{i.institucion.nombre_institucion}}
                             - {{i.institucion.clave_institucion}} 
                            </div>

                        </strong>
                    </h4>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-content">
                        <h3>Seguimiento estudio</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">

                        <div class="card-content">
                            <h2 class="title">Folio sistema: <strong>{{scope.estudio.folio_estudio}}</strong></h2>
                            <h2 class="title">Folio estudio: <strong>{{scope.estudio.folio_estudio_pago}}</strong></h2>
                            <h2 class="title">Familia: <strong>{{scope.estudio.familia.familia}}</strong></h2>
                            <h2 class="title">Estatus:
                                    <span ng-repeat="es in scope.listaEstatus" ng-if="scope.estudio.id_estatus_estudio === es.id_estatus" class="label label-{{es.class}}">{{es.nombre}}</span>
                            </h2>

                            <!--<h2 class="title">Asigado: <strong>{{scope.estudio.id_asignado}}</strong></h2>-->
                            <h2 class="title" ng-show="!scope.estudio.id_estatus_estudio === '7'">
                                Asignado:
                                <span class="label label-info" ng-show="scope.estudio.id_usuario_asignado === '0'">Por
                                    asignar</span>
                                <span class="label label-success"
                                    ng-show="scope.tipoUsuario === '2' && scope.estudio.id_usuario_asignado !== '0'">
                                    Asignado
                                </span>
                                <span class="label label-info"
                                    ng-show="scope.tipoUsuario === '1' && scope.estudio.id_usuario_asignado !== '0'">
                                    Asignado a {{scope.estudio.usuario_asignado[0].nombre}}
                                </span>
                            </h2>

                            <h2 ng-if="scope.estudio.fecha_entrevista !== null || scope.estudio.fecha_entrevista"
                                class="title">
                                Fecha de entrevista:
                                <span class="label label-default">{{scope.estudio.fecha_entrevista| toJSDate}}</span>

                            </h2>

                            <h2 ng-if="scope.estudio.fecha_entrevista === '' || scope.estudio.fecha_entrevista === null"
                                class="title">
                                Fecha de entrevista:
                                <span class="label label-default">SIN FECHA DE ENTREVISTA</span>

                            </h2>

                        </div>


                    </div>
                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-content">
                        <div class="col-md-12 text-center" ng-if="scope.listaComentarios.length === 0">
                            <h5>Aún no existen comentarios.</h5>
                        </div>
                        <div class="card-content table-responsive" ng-if="scope.listaComentarios.length > 0">
                            <table class="table table-hover table-striped" cellspacing="0" width="100%">
                                <thead class="text-primary">
                                    <tr style="background-color: gainsboro">
                                        <th class="text-center">No. </th>
                                        <th class="text-center">Comentario</th>
                                        <th class="text-center">Observación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="c in scope.listaComentarios">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{c.comentario}}</td>
                                        <td class="text-center">{{c.tipo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>