<style>
    body{
        background-color: white;
        font-size: 12px;
    }
    tr{

    }
    .centrar{
        width: 70%; margin: auto;
    }
    .centrar2{
        width: 90%; margin: auto;
    }
    .text-center {
        text-align: center;
    }

    .border{
        border: solid;
        border-color: black;
        border-width: 1px;
        margin: 5px 10px 0px 0px;
    }
</style>
<button class="btn btn-xs btn-success" onclick="imprime()">Imprimir</button>
<button class="btn btn-xs btn-default" onclick="window.history.back();">Regresar</button>
<script src="assets/css/print.js"></script>
<div id="contenido">
    <div class="row text-center"><br></div>
    <div class="row">
        <p class="text-center centrar" style="color: red; font-weight: bold;">ESTUDIO SOCIOECONÓMICO {{scope.estudio.ciclo_escolar.ciclo_escolar}}
            <strong style="float: right; color: #003399; margin-right: 20% ">Fecha Estudio:
                <span  class="border" style="padding: 2px" ng-if="scope.estudio.fecha_entrevista !== null && scope.estudio.fecha_entrevista !== undefined"> {{scope.estudio.fecha_entrevista| toJSDate}}</span>
                <span  class="border" style="padding: 2px"  ng-if="scope.estudio.fecha_entrevista === null || scope.estudio.fecha_entrevista === undefined"> - </span>
            </strong>
        </p>
    </div>
    <br>

    <table class="centrar" style="font-size:11px">
        <tr style="color: #003399">
            <td><p><strong>FOLIO:</strong> <strong class="border"  style="font-weight: bold; margin: 1px; font-weight: 900; padding: 2px;">{{scope.estudio.folio_estudio_pago}}</strong> <strong class="border"  style="font-weight: bold; margin: 1px; font-weight: 900; padding: 2px;">{{scope.estudio.solicitudes.clasificacion}}</strong></p></td>
            <td><p><strong>Familia:</strong> <strong style="font-style: oblique; text-decoration: underline; margin: 45px; font-weight: 900;">{{scope.estudio.familia.familia}}</strong></p></td>
            <td><p><strong>Total de hijos:</strong> <strong class="border" style="width: 25px; padding: 2px;">{{scope.estudio.hijos.length}}</strong></p></td>
            <td><p><strong>CLAVE:</strong> <strong class="border" style="width: 25px; padding: 2px;">{{scope.estudio.id_familia}}</strong></p></td>
            <td><p><strong>Clasificación:</strong> <strong class="border" style="width: 25px; padding: 2px;">{{scope.ingresos.clasificacion}}</strong></p></td>
            <td><p><strong>Compartida:</strong> <strong  style="width: 25px; padding: 2px;" ng-if="scope.estudio.solicitudes.es_compartida" class="border">SI</strong><strong style="width: 25px; padding: 2px;" ng-if="!scope.estudio.solicitudes.es_compartida" class="border">NO</strong></p></td>
        </tr>
    </table>

    <table class="centrar2" style="font-size: 9px">
        <tr>
            <td><p><strong>Nombre hij@</strong></p></td>
            <td><p><strong>Edad</strong></p></td>
            <td><p><strong>Institución</strong></p></td>
            <td><p><strong>Grado a cursar</strong></p></td>
            <td><p><strong>Colegiatura</strong></p></td>
            <td><p><strong>% Beca actual</strong></p></td>
            <td><p><strong>Apoyo solicitado</strong></p></td>
            <td><p><strong>Apoyo sugerido</strong></p></td>
            <td><p><strong>Beca a sig</strong></p></td>
        </tr>

        <tr ng-repeat="hijo in scope.estudio.hijos">
            <td class="text-center"><p class="border">{{hijo.nombre}}</p></td>
            <td class="text-center"><p class="border">{{hijo.edad}}</p></td>
            <td class="text-center"><p class="border">{{hijo.institucion}}</p></td>
            <td class="text-center"><p class="border">{{hijo.nivel_grado_cursar}}</p></td>
            <td style="text-align: right"><p class="border"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.colegiatura_pasado| number:2}}</span></p></td>
            <td class="text-center"><p class="border">{{hijo.beca_actual}} %</p></td>
            <td style="text-align: right"><p class="border"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.apoyo_solicitado| number:2}}</span></p></td>
            <td style="text-align: right"><p class="" style="border-color: black;
                                             border-width: 1px;
                                             margin: 5px 10px 0px 0px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.apoyo_sugerido| number:2}}</span></p></td>
            <td><p class="border"><br></p></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right"><p style="background: yellow; margin: 0px 10px 0px 0px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_col| number:2}}</span></p></td>
            <td></td>
            <td style="text-align: right"><p style="background: yellow; margin: 0px 10px 0px 0px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_apoyo_soli| number:2}}</span></p></td>
            <td style="text-align: right"><p style="background: yellow; margin: 10px 5px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_apoyo_suge| number:2}}</span></p></td>
        </tr>
    </table>

    <div class="row">
        <p class="text-center" style="; margin: auto">Información económica de la familia</p>
    </div>


    <table border="0" style="margin: auto; width: 98%;" class="tabla_chica">

        <tr style="font-weight: bold">
            <td style="width: 8%;"></td>
            <td style="width: 10%;">Gastos mensuales</td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="width: 10%;">% del Total de Egresos</td>
            <td style="width: 25px;"></td>
            <td style="width: 19%"></td>
            <td style="width: 25px;"></td>
            <td>Ingresos mensuales</td>
        </tr>
        <tr>
            <td>Alimentación</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].alimentacion_despensa| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].alimentacion_despensa / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td style="font-size: 10px; text-align: right; display: block; height: 10px;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.nombre}} {{papa.apellido_paterno}} {{papa.apellido_materno}}</p>
                </div>
            </td>
            <td></td>
            <td style="display: flex">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p style="    width: 100px;
                       padding: 0px 10px;
                       text-align: center;" class="border" ng-if="papa.tipo_persona === 'PAPA'">$ {{papa.sueldo_neto| number:2}}</p>
                </div>
                <div  ng-repeat="papa in scope.estudio.padres" >
                    <p style="padding: 0px 10px;" class="border" ng-if="papa.tipo_persona === 'PAPA' && papa.finado != '1'">{{papa.fecha_nacimiento| toJSDate}}</p>
                </div>
                <div ng-repeat="papa in scope.estudio.padres" >
                    <p style="padding: 0px 10px;" class="border" ng-if="papa.tipo_persona === 'PAPA'">{{papa.ocupacion}}</p>
                </div>
            </td>
            <td rowspan="3" style="
                text-align: center;
                "><strong>Colegiaturas con pago al 100%</strong></td>
        </tr>

        <tr>
            <td>Renta</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].renta| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].renta / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td style="font-size: 10px; text-align: center; ">
                <span>Papá</span>
            </td>
            <td></td>
            <td >
                <div ng-repeat="papa in scope.estudio.padres">
                    <p style="margin: 0px;     text-align: right; width: 85%" ng-if="papa.tipo_persona === 'PAPA'">{{papa.empresa}}</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>Crédito hipotacario</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].credito_hipotecario| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].credito_hipotecario / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td style="font-size: 10px; text-align: right; display: block; height: 10px;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.nombre}} {{papa.apellido_paterno}} {{papa.apellido_materno}}</p>
                </div>
            </td>
            <td></td>
            <td style="display: flex">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p style="    width: 100px;
                       padding: 0px 10px;
                       text-align: center;" class="border" ng-if="papa.tipo_persona === 'MAMA'">$ {{papa.sueldo_neto| number:2}}</p>
                </div>
                <div  ng-repeat="papa in scope.estudio.padres" >
                    <p style="padding: 0px 10px;" class="border" ng-if="papa.tipo_persona === 'MAMA' && papa.finado != '1'">{{papa.fecha_nacimiento| toJSDate}}</p>
                </div>
                <div ng-repeat="papa in scope.estudio.padres" >
                    <p style="padding: 0px 10px;" class="border" ng-if="papa.tipo_persona === 'MAMA'">{{papa.ocupacion}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Colegiaturas</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].colegiaturas| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].colegiaturas / scope.total_2)*100 | number: 0}} % </span> </td>
            <td></td> 
            <td style="font-size: 10px; text-align: center; ">
                <span>Mamá</span>
            </td>
            <td></td>
            <td >
                <div ng-repeat="papa in scope.estudio.padres">
                    <p  style="margin: 0px; text-align: right; width: 70%" ng-if="papa.tipo_persona === 'MAMA'">{{papa.empresa}}</p>
                </div>
            </td>
            <td style="
                text-align: center;
                "><p style="
                 padding: 0px;
                 margin: 0px; width: 100px; text-align: center; margin: auto;
                 " class="border">$ {{scope.suma_col| number:2}}</p></td>
        </tr>
        <tr>
            <td>Otras colegiaturas</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].otras_colegiaturas| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].otras_colegiaturas / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td style="font-size: 10px; text-align: right;">
                <span>Otros</span>
            </td>
            <td></td>
            <td >
                <p  style="width: 120px; text-align: center" class="border">$ {{scope.estudio.ingresos[0].total_otros_ingresos| number:2}}</p>
            </td>
        </tr>
        <tr>
            <td>Clases particulares</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].clases_particulares| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].clases_particulares / scope.total_2)*100 | number: 0}} %</span></td>
            <td></td> 
            <td style="font-size: 10px; text-align: right"><strong>Total</strong></td>
            <td></td>
            <td><p  style="    width: 120px;
                    text-align: center;" class="border">$ {{scope.total_ingresos2| number:2}}</p></td>
        </tr>
        <tr>
            <td>Servicios</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].total_servicios| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].total_servicios / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
        </tr>
        <tr>
            <td>Servicio doméstico</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].servicio_domestico| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].servicio_domestico / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2"><strong style="text-align: center">% del ingreso destinado a pago de colegiaturas</strong></td>
        </tr>

        <tr>
            <td>Gasolina</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].gasolina| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].gasolina / scope.total_2)*100 | number: 0}} %</span>  </td>
            <td></td> 
            <td></td>
            <td></td>
            <td><strong style="">DOCUMENTACION FALTANTE</strong></td>
        </tr>

        <tr>
            <td>Crédito automovil</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].credito_auto| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].credito_auto / scope.total_2)*100 | number: 0}} %</span></td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].carta_no_adeudo">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].carta_no_adeudo">Carta de no adeudo</p>
            </td>


            <td ><p style="
                    padding: 0px;
                    margin: 0px; width: 100px; text-align: center; margin: auto; 
                    " class="border">{{(scope.suma_col / scope.total_ingresos2)*100 | number:0}} %</p></td>
        </tr>

        <tr>
            <td>Pago mensual TC</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].pago_tdc_mensual| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].pago_tdc_mensual / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].firma_reglamento">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].firma_reglamento">Firma del reglamento de becas</p>
            </td>
        </tr>

        <tr>
            <td>Créditos comerciales</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].creditos_comerciales| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].creditos_comerciales / scope.total_2)*100 | number: 0}} %</span>  </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].nomina_carta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].nomina_carta">Nómina/Carta contador</p>
            </td>
        </tr>

        <tr>
            <td>Vestido y calzado</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].vestido_calzado| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].vestido_calzado / scope.total_2)*100 | number: 0}} %</span></td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].poliza">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].poliza">Pólizas de seguro</p>
            </td>
        </tr>

        <tr>
            <td>Médico y medicinas</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].medico_medicinas| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].medico_medicinas / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].estado_cuenta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].estado_cuenta">Estados de cuenta</p>
            </td>
        </tr>

        <tr>
            <td>Club deportivo</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].clubes_deportivos| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].clubes_deportivos / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].recibos_renta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].recibos_renta">Recibo (s) de renta</p>
            </td>
        </tr>

        <tr>
            <td>Seguros</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].seguros| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].seguros / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].facturas_hospital">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].facturas_hospital">Facturas de hospital</p>
            </td>
        </tr>

        <tr>
            <td>Diversión</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].diversion_entretenimiento| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].diversion_entretenimiento / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].comprobante_finiquito">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].comprobante_finiquito">Comprobante de finiquito</p>
            </td>
        </tr>

        <tr>
            <td>Otros</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].otros2| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.estudio.egresos[0].otros2 / scope.total_2)*100 | number: 0}} %</span> </td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].demandas_judiciales">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].demandas_judiciales">Demandas judiciales</p>
            </td>
        </tr>

        <tr>
            <td><strong>Total</strong></td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <strong><span style="margin-right: 5px">{{scope.total_2| number:2}}</span></strong></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td style="text-align: right;"> <span style=" margin-right: 5px; font-size: 6px">Diferencia Ingresos/Egresos</span></td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].servicios">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].servicios">Servicios</p>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td></td>
            <td></td>
            <td></td>
            <td><p style="text-align: right; margin: auto; margin-right: 5px; " class="border"> $ {{scope.diferencia_2| number:2}}</p></td>
            <td></td> 
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_hipo">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_hipo">Pagos de crédito hipotecario</p>
            </td>
        </tr>
        <tr>
            <td><strong>Saldo actual en TC</strong></td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span style=" margin-right: 5px">{{scope.estudio.egresos[0].saldo_tdc| number:2}}</span></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_auto">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_auto">Pagos de crédito automotriz</p>
            </td>
        </tr>

        <tr>
            <td><br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td style="display: flex">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].otros">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].otros">Otros</p>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><strong style="font-style: oblique; ">NECESIDAD DE BECA</strong></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td class="border" style="font-style: oblique; ;"><strong style=" float: right;margin-right: 13px;">{{ scope.necesidad | number: 2}}</strong></td>

        </tr>

        <tr>
            <td><br></td>
            <td><p style="font-size: 7px; text-align: center">*En una escala del 1 al 10</p></td>
        </tr>

        <tr>
            <td></td>
            <td><strong style="font-style: oblique; ">CONFIABILIDAD</strong></td>
            <td style="width: 25px;"></td>
            <td style="width: 25px;"></td>
            <td class="border" style="font-style: oblique; ;"><strong style=" float: right;margin-right: 13px;">{{ scope.confiabilidad | number:2}}</strong></td>
            <td></td>
            <td><strong style="font-style: oblique; ;     float: right;
                        margin-right: 25px;
                        padding-right: 5px;">CALIF. GLOBAL</strong></td>
            <td class="border" style="font-style: oblique; ;"><strong style="margin: 10px;">{{scope.calif_globlal| number:2}}</strong></td>


        </tr>

    </table>
    <br>
    <div class="row">
        <p style=";">Observaciones</p>
    </div>
    <div style="font-size: 11px">
        <ul>
            <li ng-repeat="c in scope.estudio.motivos"> <span >{{c.motivo}}</span></li>
            <li ng-repeat="comm in scope.estudio.comentarios" ng-if="comm.tipo === 'GENERAL'" > <span >{{comm.comentario}}</span></li>
        </ul>
    </div>

    <div class="row border" style="float: right; width: 30%;margin-right: 30px">
        <p class="text-center" style="
           margin-bottom: 0px;
           "><strong>Ciclo Escolar {{scope.estudio.ciclo_escolar.ciclo_escolar}}</strong></p>
    </div>

</div>
