<style>
    body {
        background-color: white;
        font-size: 12px;
    }

    tr {}

    .centrar {
        width: 70%;
        margin: auto;
    }

    .centrar2 {
        width: 90%;
        margin: auto;
    }

    .text-center {
        text-align: center;
    }

    .border {
        border: solid;
        border-color: black;
        border-width: 1px;
        margin: 5px 10px 0px 0px;
    }
</style>
<button class="btn btn-xs btn-success" onclick="imprime()">Imprimir</button>
<button class="btn btn-xs btn-default" onclick="window.history.back();">Regresar</button>
<script src="assets/css/print.js"></script>
<div id="contenido" ng-if="scope.is_loading == false">
    <div class="row text-center"><br></div>
    <div class="row">
        <p class="text-center centrar" style="color: red; font-weight: bold;">ESTUDIO SOCIOECONÓMICO
            {{scope.estudio.ciclo_escolar.ciclo_escolar}}
            <strong style="float: right; color: #003399; margin-right: 20% ">Fecha Estudio:
                <span class="border" style="padding: 2px"
                    ng-if="scope.estudio.fecha_entrevista !== null && scope.estudio.fecha_entrevista !== undefined">
                    {{scope.estudio.fecha_entrevista| toJSDate}}</span>
                <span class="border" style="padding: 2px"
                    ng-if="scope.estudio.fecha_entrevista === null || scope.estudio.fecha_entrevista === undefined"> -
                </span>
            </strong>
        </p>
    </div>
    <br>

    <table class="centrar" style="font-size:11px">
        <tr style="color: #003399">
            <td>
                <p><strong>FOLIO:</strong> <strong class="border"
                        style="font-weight: bold; margin: 1px; font-weight: 900; padding: 2px;">{{scope.folio}}</strong>
                    <strong class="border" ng-if="false"
                        style="font-weight: bold; margin: 1px; font-weight: 900; padding: 2px;">{{scope.estudio.solicitudes.clasificacion}}</strong>
                </p>
            </td>
            <td>
                <p><strong>Familia:</strong> <strong
                        style="font-style: oblique; text-decoration: underline; margin: 5px; font-weight: 900;">{{scope.estudio.familia.familia}}</strong>
                </p>
            </td>
            <td>
                <p><strong>Total de hijos:</strong> <strong class="border"
                        style="width: 25px; padding: 2px;">{{scope.estudio.hijos.length}}</strong></p>
            </td>
            <td>
                <p><strong>CLAVE:</strong> <strong class="border"
                        style="width: 25px; padding: 2px;">{{scope.estudio.id_familia}}</strong></p>
            </td>
            <td>
                
            </td>
            <td>
                <p><strong>Compartida:</strong> <strong style="width: 25px; padding: 2px;"
                        ng-if="scope.estudio.solicitudes.es_compartida" class="border">SI</strong><strong
                        style="width: 25px; padding: 2px;" ng-if="!scope.estudio.solicitudes.es_compartida"
                        class="border">NO</strong></p>
            </td>
        </tr>
    </table>

    <table class="centrar2" style="font-size: 9px">
        <tr>
            <td>
                <p><strong>Nombre hij@</strong></p>
            </td>
            <td>
                <p><strong>Edad</strong></p>
            </td>
            <td>
                <p><strong>Institución</strong></p>
            </td>
            <td>
                <p><strong>Grado a cursar</strong></p>
            </td>
            <td>
                <p><strong>Colegiatura</strong></p>
            </td>
            <td>
                <p><strong>% Beca actual</strong></p>
            </td>
            <td>
                <p><strong>% Beca solicitado</strong></p>
            </td>
            <td>
                <!--<p><strong>Apoyo sugerido</strong></p>-->
            </td>
            <td>
                <!--<p><strong>Beca a sig</strong></p>-->
            </td>
        </tr>

        <tr ng-repeat="hijo in scope.estudio.hijos">
            <td class="text-center">
                <p class="border">{{hijo.nombre}}</p>
            </td>
            <td class="text-center">
                <p class="border">{{hijo.edad}}</p>
            </td>
            <td class="text-center">
                <p class="border">{{scope.find(hijo)}}</p>
            </td>
            <td class="text-center">
                <p class="border">{{hijo.seccion_nivel_grado_cursar}}  {{scope.findGrado(hijo)}}</p>
            </td>
            <td style="text-align: right">
                <p class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                        style="margin-right: 5px">{{hijo.colegiatura_pasado| number:2}}</span></p>
            </td>
            <td class="text-center">
                <p class="border">{{hijo.beca_actual}} %</p>
            </td>
            <td style="text-align: right">
                <p class="border"><span style="float: left; margin-left: 5px;">%</span> <span
                        style="margin-right: 5px">{{hijo.apoyo_solicitado| number:2}}</span></p>
            </td>
            <td style="text-align: right">
                <!--<p class="" style="border-color: black;
                                             border-width: 1px;
                                             margin: 5px 10px 0px 0px;"><span
                        style="float: left; margin-left: 5px;">$</span> <span
                        style="margin-right: 5px">{{hijo.apoyo_sugerido| number:2}}</span></p>-->
            </td>
            <td>
                <p class=""><br></p>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right">
                <p style="background: yellow; margin: 0px 10px 0px 0px;"><span
                        style="float: left; margin-left: 5px;">$</span> <span
                        style="margin-right: 5px">{{scope.suma_col| number:2}}</span></p>
            </td>
            <td></td>
            <td style="text-align: right">
                <p style="background: yellow; margin: 0px 10px 0px 0px;"><span
                        style="float: left; margin-left: 5px;">%</span> <span
                        style="margin-right: 5px">{{scope.suma_apoyo_soli| number:2}}</span></p>
            </td>
            <td style="text-align: right">
                <!--<p style="background: yellow; margin: 10px 5px;"><span style="float: left; margin-left: 5px;">$</span>
                    <span style="margin-right: 5px">{{scope.suma_apoyo_suge| number:2}}</span>-->
                </p>
            </td>
        </tr>
    </table>

    <div class="row">
        <p class="text-center" style="margin: auto">Información económica de la familia</p>
    </div>


    <table border="0" style="margin: auto; width: 98%;" class="tabla_chica">

        <tr style="font-weight: bold">
            <td style="width: 20%;"></td>
            <td style="width: 10%;"></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="width: 10%;"></td>
            <td style="width: 1px;"></td>
            <td style="width: 0%"></td>
            <td style="width: 20%;"></td>
            <td style="width: 15%;">Ingresos mensuales</td>
            <td style="width: 10%; text-align: center" class="border">Papa</td>
            <td style="width: 10%; text-align: center" class="border">Mama</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;" class=""></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class=""> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Ocupación</td>
            <td style="width: 10%; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.ocupacion}}</p>
                </div>
            </td>
            <td style="width: 5px; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.ocupacion}}</p>
                </div>
            </td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right; font-weight: bold;" class="">Egresos mensuales</td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; font-weight: bold;" class=""> % del Total de Egresos</td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Empresa</td>
            <td style="width: 10%; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.empresa}}</p>
                </div>
            </td>
            <td style="width: 5px; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica"> 
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.empresa}}</p>
                </div>
            </td>

        </tr>

        <tr>
            <td>Alimentación/Despensa</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.alimentacion_despensa | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.alimentacion_despensa / scope.total_2) * 100 | number:
                    1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Puesto</td>
            <td style="width: 10%; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.puesto}}</p>
                </div>
            </td>
            <td style="width: 5px; text-align: center">
                <div ng-repeat="papa in scope.estudio.padres" style="font-size: 9px;" class="tabla_chica">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.puesto}}</p>
                </div>
            </td>

        </tr>

        <tr>
            <td>Habitación/Renta</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.renta | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.egresos.renta /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Sueldo</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.sueldo_papa | number: 2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.sueldo_mama | number: 2}}</td>

        </tr>

        <tr>
            <td>Credito hipotecario</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.credito_hipotecario | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.credito_hipotecario / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Negocios</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.negocios_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.negocios_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Servicios (agua, luz, gas, tel fijo, tel móvil, internet, cable, mtto fracc.)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.servicios_suma | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.servicios_suma / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Aguinaldo</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.aguinaldo_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.aguinaldo_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Servicio doméstico</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.servicio_domestico | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.servicio_domestico / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Utilidades</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.utilidades_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.utilidades_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Gasolina</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.gasolina | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span style=" margin-right: 5px">{{(scope.egresos.gasolina /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Vales (Despensa y/o gasolina)</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.vales_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.vales_mama | number:2}}</td>

        </tr>


        <tr>
            <td>Gastos médicos</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.medico_medicinas | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.medico_medicinas / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Bonos (Mensual, anual)</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{(scope.ingresos.bono_mes_papa +
                scope.ingresos.bono_anual_papa)
                | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{(scope.ingresos.bono_mes_mama +
                scope.ingresos.bono_anual_mama)
                | number:2}}</td>

        </tr>

        <tr>
            <td>Vestido y calzado</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.vestido_calzado | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.vestido_calzado / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Vacaciones (Prima)</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.vacac_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.vacac_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Colegiaturas</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.colegiaturas | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.colegiaturas / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Comisiones</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.comisiones_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.comisiones_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Transporte escolar</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.transporte_escolar | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.transporte_escolar / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Gratificaciones</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.gratificacion_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.gratificacion_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Gastos cambio ciclo escolar (reinscripciones, útiles escolares)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.gastos_ciclo_escolar | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.gastos_ciclo_escolar / scope.total_2) * 100 | number:
                    1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Fondo de ahorro</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.fda_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.fda_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Clases extraescolares</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.clases_particulares | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.clases_particulares / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Honorarios docencia</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.docencia_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.docencia_mama | number:2}}</td>

        </tr>


        <tr>
            <td>Club deportivo</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.clubes_deportivos | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.clubes_deportivos / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Devolución de impuestos</td>
            <td style="background: yellow; width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.dev_impuestos | number:2}}</td>
            <td style="width: 5px; text-align: center">-</td>

        </tr>

        <tr>
            <td>Credito automovil</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.credito_auto | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.credito_auto / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Rentas</td>
            <td style="background: yellow; width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.ingreso_renta | number:2}}</td>
            <td style="width: 5px; text-align: center">-</td>

        </tr>

        <tr>
            <td>Tarjeta de crédito</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.tarjeta_credito | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.tarjeta_credito / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td style="width: 10%;">Otros ingresos</td>
            <td style="background: yellow; width: 10%; text-align: center"><span
                    style=" float: left; margin-left: 5px;">$</span>{{scope.ingresos.otros_ingresos | number:2}}</td>
            <td style="width: 5px; text-align: center">-</td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;" ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" > </td>
            <td style="width: 1px;"></td>
            <td style="width: 1%"></td>
            <td style="width: 10px;"></td>
            <td colspan="3" style="font-size: 9px;">En los conceptos marcados, la cantidad proporcionada por dicho concepto se ha dividido entre ambos padres ya que se consideran ingresos comunes</td>
            

        </tr>

        

        <tr>
            <td>Otros créditos (mobiliario y equipo, familiar, trabajo, caja)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.otros_creditos_total | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;" class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.otros_creditos_total / scope.total_2) * 100 | number:
                    1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="text-align: center;"></td>
            <td style="width: 10%;">Total de ingresos por padre</td>
            <td style="width: 10%; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.total_papa | number:2}}</td>
            <td style="width: 5px; text-align: center"><span
                    style="float: left; margin-left: 5px;">$</span>{{scope.ingresos.total_mama | number:2}}</td>

        </tr>

        <tr>
            <td>Seguros (gastos médicos, auto, retiro, vida)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.seguros_total | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span
                    style="margin-right: 5px">{{(scope.egresos.seguros_total / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td></td>
            <td style="width: 10%; text-align: center;"><strong>Total de ingresos</strong></td>
            <td colspan="2" style="width: 10%; text-align: center" class="border"><span
                    style="float: left; margin-left: 5px;">$</span>{{(scope.ingresos.total_papa +
                scope.ingresos.total_mama) | number:2}}</td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td>Entretenimiento (diversión, vacaciones)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.diversion_total | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.diversion_total / scope.total_2) * 100 | number: 1}}
                    %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td colspan="2" style="text-align: center; "></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>

        </tr>

        <tr>
            <td>Servicios Mantenimiento (casa, auto)</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.servicios_mantenimiento_total | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.servicios_mantenimiento_total / scope.total_2) * 100 |
                    number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td colspan="2" style="text-align: center; ">
                
                
            </td>
            <td style="width: 10%;"><strong style="text-align: center;">Vehículos</strong></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>

        </tr>

        <tr>
            <td>Tenencia / Verficación</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.tenencia | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span style=" margin-right: 5px">{{(scope.egresos.tenencia /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="text-align: center; "> </td>
            <td style="width: 10%; ">Propietario</td>
            <td style="width: 10%; ">Modelo</td>
            <td style="width: 5px; ">Año</td>

        </tr>

        <tr>
            <td>Predial</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.predial | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span style=" margin-right: 5px">{{(scope.egresos.predial /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td  style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].anio}}</p></td>

        </tr>

        <tr>
            <td>Gastos de contabilidad</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.gastos_contabilidad | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.gastos_contabilidad /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td  style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].anio}}</p></td>

        </tr>

        <tr>
            <td>Apoyo familiar</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.apoyo_familiar | number:2}}</span></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; " class="border"> <span
                    style=" margin-right: 5px">{{(scope.egresos.apoyo_familiar /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[2].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[2].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[2].anio}}</p></td>

        </tr>

        <tr>
            <td>Otros gastos</td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span> <span
                    style=" margin-right: 5px">{{scope.egresos.otros2 | number:2}}</span></td>
            <td style="width: 1px;">&nbsp; </td>
            <td style="width: 1px;">&nbsp; </td>
            <td style="text-align: right; " class="border"> <span style=" margin-right: 5px">{{(scope.egresos.otros2 /
                    scope.total_2) * 100 | number: 1}} %</span> </td>
            <td style="width: 1px;"> &nbsp; 
            </td>
            <td style="width: 1%"> &nbsp; </td>
            <td  style="text-align: center; ">
                &nbsp; 
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length >= 4">{{scope.estudio.vehiculos[3].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length >= 4">{{scope.estudio.vehiculos[3].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length >= 4">{{scope.estudio.vehiculos[3].anio}}</p></td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; "> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td  style="text-align: center; ">
                &nbsp; 
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length >= 5">{{scope.estudio.vehiculos[4].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length >= 5">{{scope.estudio.vehiculos[4].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length >= 5">{{scope.estudio.vehiculos[4].anio}}</p></td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right; "> </td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"><p ng-if="scope.estudio.vehiculos.length <= 6">{{scope.estudio.vehiculos[5].propietario}}</p></td>
            <td style="width: 10%; "><p ng-if="scope.estudio.vehiculos.length <= 6">{{scope.estudio.vehiculos[5].modelo}}</p></td>
            <td style="width: 5px; "><p ng-if="scope.estudio.vehiculos.length <= 6">{{scope.estudio.vehiculos[5].anio}}</p></td>

        </tr>

        <tr>
            <td><strong>Total</strong></td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span>
                <strong><span style="margin-right: 5px">{{scope.total_2| number:2}}</span></strong>
            </td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td colspan="" style="text-align: center; ">
                
            </td>
            <td style="width: 10%;">&nbsp; </td>
            <td style="width: 10%; ">&nbsp; </td>
            <td style="width: 5px; ">&nbsp; </td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;"> </td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td  style="text-align: center; ">
                
            </td>
            <td style="width: 10%;">&nbsp; </td>
            <td style="width: 10%; ">&nbsp; </td>
            <td style="width: 5px; ">&nbsp; </td>

        </tr>

        <tr>
            <td><strong>Diferencia Ingresos/Egresos</strong></td>
            <td style="text-align: right;" class="border"><span style="float: left; margin-left: 5px;">$</span>
                <strong><span style="margin-right: 5px">$ {{scope.diferencia_2| number:2}}</span></strong>
            </td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td colspan="2" style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;"> &nbsp;</td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td style="width: 1%"></td>
            <td colspan="2" style="text-align: center; ">
                
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>

        </tr>

        <tr>
            <td></td>
            <td style="text-align: right;"> &nbsp;</td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td colspan="2" style="text-align: center; "><strong>CRITERIOS DE CALIFICACIÓN</strong></td>
            <td  >
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>

        </tr>

        <tr>
            <td style="font-style: oblique;"><strong>Necesidad de beca </strong></td>
            <td class="border" style="font-style: oblique; ;"><strong style=" float: right;margin-right: 13px;">{{
                    scope.necesidad | number: 2}}</strong></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td style="width: 1px;">
            </td>
            <td colspan="2" style="text-align: center; "><strong>Clasificación Ingreso Percápita</strong></td>
            <td ></td>
            <td colspan="2"><strong>Documentación faltante</strong></td>
            <td ></td>
            <td>
            
            </td>
        </tr>


        <tr>
            <td style="font-style: oblique;"><span style="size: 5px;">(en una escala del 1 al 10)</span></td>
            <td></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;"></td>
            <td colspan="3"><span style="size: 5px;">Cálculo que se realiza para determinar el ingreso que recibe, en promedio, cada uno de los habitantes de una familia</span></td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].carta_no_adeudo">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].carta_no_adeudo">Carta de no adeudo</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td style="font-style: oblique;"><strong>Confiabilidad</strong></td>
            <td class="border" style="font-style: oblique; ;"><strong style=" float: right;margin-right: 13px;">{{
                    scope.confiabilidad | number:2}}</strong></td>
            <td></td>
            <td colspan="2"></td>
            <td >A</td>
            <td></td>
            <td style="text-align: center;">Ingreso percápita ALTO</td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].firma_reglamento">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].firma_reglamento">Firma del reglamento de
                    becas</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td></td>
            <td ></td>
            <td ></td>
            <td></td>
            <td></td>
            <td>B</td>
            <td></td>
            <td style="text-align: center;">Ingreso percápita MEDIO</td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].nomina_carta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].nomina_carta">Nómina/Carta contador</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td style="font-style: oblique;"><strong>Calificación Global</strong></td>
            <td class="" style="font-style: oblique; ;"></td>
            <td style="width: 1%;"></td>
            <td colspan="2"></td>
            <td >C</td>
            <td></td>
            <td style="text-align: center;">Ingreso percápita BAJO</td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].poliza">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].poliza">Pólizas de seguro</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        <tr>
            <td style="font-style: oblique;"><span style="size: 5px;">Engloba factores de Confiabilidad y Necesidad de beca
                (en una escala del 1 al 10)</span></td>
            <td class="border" style="font-style: oblique; ">
                    <strong style=" float: right;margin-right: 13px;">{{
                        scope.calif_globlal | number:2}}</strong></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td style="text-align: right;">Clasificación Ingreso percápita familiar:</td>
            <td colspan="3" class="border" style="font-style: oblique; text-align: center;">
                <strong>{{scope.ingresos.clasificacion }}</strong></td>
            <td style="width: 1%"> </td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].estado_cuenta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].estado_cuenta">Estados de cuenta</p></td>
            <td ></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2" style="font-style: oblique;"> <strong>Criterios de Escala</strong> del 1 al 10	1 a 3 - Baja	4 a 6 - Media	7 a 10 - Alta
            </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].recibos_renta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].recibos_renta">Recibo (s) de renta</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].facturas_hospital">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].facturas_hospital">Facturas de hospital</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].comprobante_finiquito">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].comprobante_finiquito">Comprobante de
                    finiquito</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].demandas_judiciales">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].demandas_judiciales">Demandas judiciales</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].servicios">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].servicios">Servicios</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_hipo">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_hipo">Pagos de crédito
                    hipotecario</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

        <tr>
            <td colspan="2"  style="font-style: oblique;"> </td>
            <td ></td>
            <td style="width: 1px;"></td>
            <td style="width: 1px;"></td>
            <td ></td>
            <td></td>
            <td style="width: 1%"> </td>
            <td></td>
            <td style="text-align: center; "><p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_auto">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_auto">Pagos de crédito
                    automotriz</p></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: center"></td>
            <td style="width: 5px; text-align: center"></td>
        </tr>

    </table>
    <br>
    <div class="row">
        <p>Observaciones</p>
    </div>
    <div style="font-size: 11px">
        <ul>
            <li ng-repeat="c in scope.estudio.motivos"> <span>{{c.motivo}}</span></li>
            <li ng-repeat="comm in scope.estudio.comentarios" ng-if="comm.tipo === 'GENERAL'">
                <span>{{comm.comentario}}</span>
            </li>
        </ul>
    </div>

    <div class="row border" style="float: right; width: 30%;margin-right: 30px">
        <p class="text-center" style="
           margin-bottom: 0px;
           "><strong>Ciclo Escolar {{scope.estudio.ciclo_escolar.ciclo_escolar}}</strong></p>
    </div>

</div>