<style>
    body{
        background-color: white;
        font-size: 12px;
    }
    .centrar{
        width: 70%; margin: auto;
    }
    .centrar2{
        width: 90%; margin: auto;
    }
    .text-center {
        text-align: center;
    }

    .border{
        border: solid;
        border-color: black;
        border-width: 1px;
        margin: 1px 3px 0px 0px;
    }
    .tabla_chica{
        font-size: 8px;
    }
    p{
        margin: 0px;
    }
</style>
<button class="btn btn-xs btn-success" onclick="imprime()">Imprimir</button>
<button class="btn btn-xs btn-default" onclick="window.history.back();">Regresar</button>
<script src="assets/css/print.js"></script>
<div id="contenido" style="width: 90%; margin: auto; margin-top: -25px;" >
    <div style="width: 80%; margin: auto; font-size: 12px;">
        <p class="text-center centrar" style="color: red; font-weight: bold;">ESTUDIO SOCIOECONÓMICO {{scope.estudio.ciclo_escolar.ciclo_escolar}}
            <strong style="float: right; color: #003399; ">Fecha Estudio:
                <span  class="border" style="padding: 1px" ng-if="scope.estudio.fecha_entrevista !== null && scope.estudio.fecha_entrevista !== undefined"> {{scope.estudio.fecha_entrevista| toJSDate}}</span>
                <span  class="border" style="padding: 1px"  ng-if="scope.estudio.fecha_entrevista === null || scope.estudio.fecha_entrevista === undefined"> - </span>
            </strong>
        </p>
    </div>
    <table style="font-size:12px; width: 90%; margin: auto;">
        <tr style="color: #003399">
            <td><p><strong>FOLIO:</strong> <strong class="border"  style="font-weight: bold; font-weight: 900;padding: 1px">{{scope.estudio.folio_estudio_pago}}</strong> <strong class="border"  style="margin-left: 2px;  font-weight: bold;font-weight: 900; padding: 1px;">{{scope.estudio.solicitudes.clasificacion}}</strong></p></td>
            <td><p><strong>Familia:</strong> <strong style="font-size: 13px;  font-style: oblique; text-decoration: underline; padding: 1px">{{scope.estudio.familia.familia}}</strong></p></td>
            <td><p><strong>Total de hijos:</strong> <strong class="border" style="padding: 1px">{{scope.estudio.hijos.length}}</strong></p></td>
            <td><p><strong>CLAVE:</strong> <strong class="border" style="padding: 1px">{{scope.estudio.id_familia}}</strong></p></td>
            <td><p><strong>Clasificación:</strong> <strong class="border" style="padding: 1px">{{scope.ingresos.clasificacion}}</strong></p></td>
            <td><p><strong>Compartida:</strong> <strong  style="" ng-if="scope.estudio.solicitudes.es_compartida" class="border">SI</strong><strong style="padding: 1px;" ng-if="!scope.estudio.solicitudes.es_compartida" class="border">NO</strong></p></td>
        </tr>
    </table>
    <table class="centrar2" style="font-size: 10px; margin-bottom: -9px;">
        <tr>
            <td><p><strong>Nombre hij@</strong></p></td>
            <td><p><strong>Edad</strong></p></td>
            <td><p><strong>Institución</strong></p></td>
            <td style="margin-left: 5px"><p><strong>Grado a cursar</strong></p></td>
            <td style="width: 13%;"><p><strong>Colegiatura</strong></p></td>
            <td style="width: 10%;"><p><strong>% Beca actual</strong></p></td>
            <td style="width: 10%;"><p><strong>Apoyo solicitado</strong></p></td>
            <td style="width: 10%;"><p><strong>Apoyo sugerido</strong></p></td>
            <td style="width: 10%;"><p><strong>Beca asignada</strong></p></td>
        </tr>

        <tr ng-repeat="hijo in scope.estudio.hijos">
            <td class="text-center"  ><p class="border">{{hijo.nombre}} {{hijo.apellido_paterno}} {{hijo.apellido_materno}}</p></td>
            <td class="text-center" ><p class="border">{{hijo.edad}}</p></td>
            <td class="text-center" ><p class="border">{{hijo.institucion}}</p></td>
            <td class="text-center" ><p class="border">{{hijo.nivel_grado_cursar}}</p></td>
            <td style="text-align: right" ><p class="border"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.colegiatura_pasado| number:2}}</span></p></td>
            <td class="text-center" ><p class="border">{{hijo.beca_actual}} %</p></td>
            <td style="text-align: right" ><p class="border"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.apoyo_solicitado| number:2}}</span></p></td>
            <td style="text-align: right" >
                <p class="" style="border-color: black;
                                             border-width: 1px;
                                             margin: 5px 10px 0px 0px;">
                    <span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{hijo.apoyo_sugerido| number:2}}</span>
                </p>                             
            </td>
            <td ><p class="border"><br>&nbsp;&nbsp;</p></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right"><p style="background: yellow; margin: 0px 10px 0px 0px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_col| number:2}}</span></p></td>
            <td></td>
            <td style="text-align: right"><p style="background: yellow; margin: 0px 10px 0px 0px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_apoyo_soli| number:2}}</span></p></td>
            <td style="text-align: right"><p style="background: yellow; margin: 10px 5px;"><span style="float: left; margin-left: 5px;">$</span> <span style="margin-right: 5px">{{scope.suma_apoyo_suge| number:2}}</span></p></td>
        </tr>
    </table>

    <div class="row" style="margin: auto; width: 99%;">
        <p class="text-center" style="margin: auto; background-color: gray; color: white;">Información económica de la familia</p>
    </div>
    <table style="margin: auto; width: 99%; font-size: 10px;">
        <tr>
            <td colspan="3"  class="border"  style="  width: 30%; font-style: italic; font-weight: bold; background-color: gainsboro; text-align: center;">Egresos mensuales</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3"  class="border"  style=" width: 35%;  font-style: italic; font-weight: bold; background-color: gainsboro; text-align: center;">Ingresos mensuales de padres de familia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="font-size: 9px; width: 10%; font-style: italic; font-weight: bold; background-color: gainsboro; text-align: center;">TOTAL pago colegiatura al 100%</td>
        </tr>
        <tr style="font-style: italic; font-weight: bold; text-align: center;">
            <td class="border" style="width: 15%;">Concepto</td>
            <td class="border" style="width: 10%;">Egresos</td>
            <td class="border" style="width: 7%;">% de egresos</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="width: 10%;">Datos</td>
            <td class="border" style="width: 20%;">Papá</td>
            <td class="border"style="width: 20%;">Mamá</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border">$ {{scope.suma_col| number:2}}</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Alimentación/Despensa</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].alimentacion_despensa| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].alimentacion_despensa / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border"><span style="margin-left: 10px;">Nombre</span></td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.nombre}} {{papa.apellido_paterno}} {{papa.apellido_materno}}</p>
                </div>
            </td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.nombre}} {{papa.apellido_paterno}} {{papa.apellido_materno}}</p>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="text-align: center; font-style: italic; background-color: gainsboro; font-size: 9px;">% ingreso destinado a colegiatira al 100%</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Habitación/renta</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].renta| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].renta / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border"><span style="margin-left: 10px;">Ocupación/Actividad Económica</span></td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.ocupacion_list}}</p>
                </div>
            </td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.ocupacion_list}}</p>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Crédito hipotecario</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].credito_hipotecario| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].credito_hipotecario / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border"><span style="margin-left: 10px;">Empresa</span></td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.empresa}}</p>
                </div>
            </td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.empresa}}</p>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Colegiaturas</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].colegiaturas| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].colegiaturas / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border"><span style="margin-left: 10px;">Puesto</span></td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">{{papa.puesto}}</p>
                </div>
            </td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">{{papa.puesto}}</p>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Otras colegituras</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].otras_colegiaturas| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].otras_colegiaturas / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border"><span style="margin-left: 10px;">Sueldo neto</span></td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'PAPA'">$ {{papa.sueldo_neto | number: 2}}</p>
                </div>
            </td>
            <td class="border" style="text-align: center;">
                <div ng-repeat="papa in scope.estudio.padres">
                    <p ng-if="papa.tipo_persona === 'MAMA'">$ {{papa.sueldo_neto | number: 2}}</p>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Clases particulares</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].clases_particulares| number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].clases_particulares / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="3" style="text-align: center; font-style: italic; background-color: gainsboro;"><span style="margin-left: 10px;">Ingresos mensuales diferentes a padres a familia</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Servicios</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].total_servicios | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].total_servicios / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="2"><span style="margin-left: 10px;">Ingresos aportados por otros miembros de la familia</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.ingresos[0].ingreso_otros_miembros| number:2}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Servicio doméstico</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].servicio_domestico | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].servicio_domestico / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="2"><span style="margin-left: 10px;">Otros ingresos</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.ingresos[0].total_otros_ingresos | number:2}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Gasolina</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].gasolina | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].gasolina / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="2"><span style="font-style: italic; float: right; font-weight: bold; background-color: gainsboro;">TOTAL INGRESOS</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.ingresos[0].total_ingresos | number:2}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Crédito o arrendamiento automóvil</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].credito_auto | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].credito_auto / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Pago mensual crédito comercial y/o tdc</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].pago_tdc_mensual | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].pago_tdc_mensual / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="3" style="text-align: center; font-style: italic; background-color: gainsboro;"><span style="margin-left: 10px;">Vehículos</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Médico y medicinas</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].medico_medicinas | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].medico_medicinas / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="width: 10%; font-style: italic; text-align: center;">Propietario</td>
            <td class="border" style="width: 20%; font-style: italic; text-align: center;">Modelo</td>
            <td class="border"style="width: 20%; font-style: italic; text-align: center;">Año</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Club deportivo</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].clubes_deportivos | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].clubes_deportivos / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].propietario}}</p></td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].modelo}}</p></td>
            <td class="border"style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 1">{{scope.estudio.vehiculos[0].anio}}</p></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Seguros (gastos médicos, auto, retiro, vida)</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].seguros | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].seguros / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].propietario}}</p></td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].modelo}}</p></td>
            <td class="border"style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 2">{{scope.estudio.vehiculos[1].anio}}</p></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Diversión y entretenimiento</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].diversion_entretenimiento | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].diversion_entretenimiento / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[3].propietario}}</p></td>
            <td class="border" style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[3].propietario}}</p></td>
            <td class="border"style="text-align: center;"><p ng-if="scope.estudio.vehiculos.length >= 3">{{scope.estudio.vehiculos[3].propietario}}</p></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Vacaciones (prorrateo mensual)</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].vacaciones | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].vacaciones / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border"><span style="margin-left: 10px;">Otros gastos</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].otros2 | number:2}}</td>
            <td class="border" style="text-align: center;">{{(scope.estudio.egresos[0].otros2 / scope.total_2) * 100 | number: 0}} %</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" colspan="3" style="text-align: center; font-style: italic; background-color: gainsboro;"><span style="margin-left: 10px;">Documentación faltante</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].nomina_carta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].nomina_carta">Comprobante de ingresos</p>
            </td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].recibos_renta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].recibos_renta">Recibos de renta</p></td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].otros">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].otros">Otros</p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td class="border" style="font-style: italic; font-weight: bold; text-align: center;">Ciclo 24-25 (actual)</td>
            <td class="border" style="font-style: italic; font-weight: bold; text-align: center;">Ciclo 23-24 (anterior)</td>
            <td class="border" colspan="2" style="width: 5%; font-size: 9px; text-align: center;">Porcentaje diferencia Ingresos - gastos VS ciclo anterior (+o-)</td>
            
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].servicios">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].servicios">Servicios</p>
            </td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_hipo">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_hipo">Crédito hipotecario </p></td>
            <td class="border" style="text-align: center;"><span style="margin-left: 10px;">Comentarios</span></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border" style="background-color: gainsboro;"><span style="font-style: italic; float: right; font-weight: bold;">TOTAL DE EGRESOS</span></td>
            <td class="border" style="text-align: center;">$ {{scope.estudio.egresos[0].total_egresos | number:2}}</td>
            <td class="border" style="text-align: center;">
                <span ng-if="scope.estudio.egresosCicloAnterior != 0">
                    $ {{scope.estudio.egresosCicloAnterior[0].total_egresos | number:2}}
                </span>
                <span ng-if="scope.estudio.egresosCicloAnterior == 0">
                    Sin registro
                </span>
            </td>
            <td class="border" colspan="2" style="text-align: center;">{{scope.porcentajeAumentoActual | number:2}} %</td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].poliza">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].poliza">Polizas de seguro</p></td>
            </td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].pagos_credito_auto">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].pagos_credito_auto">Crédito automotriz o arrendamiento</p></td>
            <td class="border" style="text-align: center;" rowspan="2"><span style="margin-left: 10px;"></span></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="border" style="background-color: gainsboro;"><span style="font-style: italic; float: right; font-weight: bold;">Diferencia entre Ingresos y egresos</span></td>
            <td class="border" style="text-align: center;">$ {{scope.diferencia_2| number:2}}</td>
            <td class="border" style="text-align: center;">
                <span ng-if="scope.estudio.egresosCicloAnterior != 0">
                    $ {{scope.estudio.egresosCicloAnterior[0].diferencia_egre_ingre | number:2}}
                </span>
                <span ng-if="scope.estudio.egresosCicloAnterior == 0">
                    Sin registro
                </span>
            </td>
            <td></td>
            <td></td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].estado_cuenta">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].estado_cuenta">Estados de cuenta créditos comerciales / TDC</p>
            </td>
            <td class="border" style="text-align: center;">
                <p style="margin: 0px;" ng-if="!scope.estudio.documentos[0].facturas_hospital">-</p>
                <p style="margin: 0px;" ng-if="scope.estudio.documentos[0].facturas_hospital">Gastos médico extraordinarios</p>
            </td>
            <td ></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <br>
    <div style="margin: auto; width: 99%;">
        <p class="text-center" style="margin: auto; background-color: gray; color: white;">Criterios de calificación</p>
    </div>
    <table style="margin: auto; width: 99%; font-size: 10px;">
        <tr>
            <td class="border" style="width: 20%; font-style: italic;">
                <strong style=" float: right;">Necesidad de beca</strong><br>
                <span style="float: right;">(en una escala del 1 al 10)</span>
            </td>
            <td class="border" style="width: 10%; text-align: center;">{{ scope.necesidad | number: 2}}</td>
            <td></td>
            <td class="border" colspan="2" style=" width: 40%; text-align: center; font-style: italic; font-weight: bold; background-color: gainsboro;">Evaluación</td>
            <td ></td>
        </tr>
        <tr>
            <td class="border" style="width: 20%; font-style: italic;">
                <strong style=" float: right;">Confiabilidad</strong><br>
                <span style="float: right;">(en una escala del 1 al 10)</span>
            </td>
            <td class="border" style="text-align: center;">{{ scope.confiabilidad | number:2}}</td>
            <td></td>
            <td class="border" style="width: 10%;">Desempeño académico</td>
            <td class="border"></td>
            <td></td>
        </tr>
        <tr>
            <td class="border" style="width: 20%; font-style: italic;">
                <strong style=" float: right;">Calificación Global</strong><br>
                <span style="float: right;">Engloba factores de Confiabilidad y Necesidad de beca</span><br>
                <span style="float: right;">(en una escala del 1 al 10)</span>
            </td>
            <td class="border" style="text-align: center;">{{scope.calif_globlal| number:2}}</td>
            <td></td>
            <td class="border">Desempeño formativo (conducta)</td>
            <td class="border"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="border">Participación padres de familia </td>
            <td class="border"></td>
            <td></td>
        </tr>
    </table>
    <div class="row" style="margin: auto; width: 99%;">
        <p class="text-center" style="margin: auto; background-color: gray; color: white;">Observaciones/Comentarios</p>
    </div>
    <div style="font-size: 11px">
        <ul>
            <li ng-repeat="c in scope.estudio.motivos"> <span >{{c.motivo}}</span></li>
            <li ng-repeat="comm in scope.estudio.comentarios" ng-if="comm.tipo === 'GENERAL'" > <span >{{comm.comentario}}</span></li>
        </ul>
    </div>

    <div class="row border" style="float: right; width: 30%;margin-right: 30px">
        <p class="text-center" style="
           margin-bottom: 0px;
           "><strong>Ciclo Escolar {{scope.estudio.ciclo_escolar.ciclo_escolar}}</strong></p>
    </div>

</div>
