<script> </script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4>Bienvenid@ <strong>{{dash.user.nombre}} {{dash.user.apellido_paterno}} {{dash.user.apellido_materno}}</strong></h4>
                    <p class="category">Estudios socioeconomicos escolares</p>
                    <h3 ng-show="dash.tipoUsuario=='1'"> HRWise (<span ng-show="dash.rolUsuario==1">Administrador</span><span ng-show="dash.rolUsuario==2">Captura</span>)</h3>
                    <h3 ng-show="dash.tipoUsuario=='2'">

                        <div>
                            {{dash.institucion.nombre_institucion}}
                            - {{dash.institucion.clave_institucion}} 
                        </div>
                        <hr>
                        <div ng-repeat="i in dash.instituciones">
                            {{i.institucion.nombre_institucion}}
                         - {{i.institucion.clave_institucion}} 
                        </div>
                        
                        
                        
                         
                         
                         <!--<span ng-show="dash.rolUsuario==1">(Administrador local)</span>-->
                         <!--(<span ng-show="dash.rolUsuario==2">Solicitante</span>)</h3>-->
                </div>
                <div class="card-content">
                    <div id="typography">
                        <div class="row">
                            <h4>Navega en las diferentes opciones del menú lateral izquierdo.</h4>
                        </div>
                        <div class="row">
                            <span>HRWise Est-soc 2024.  <strong>Versión v.2.0</strong></span>
                        </div>
                        <div class="row">
                               <!--<button ng-show="isLocal&&tipoUsuario==='1'" type="button" class="btn btn-xs btn-primary" ng-click="dash.pull()">Importar desde servidor</button>-->
                               <!--<button ng-show="isLocal&&tipoUsuario==='1'" type="button" class="btn btn-xs btn-warning" ng-click="dash.push(this)">SINCRONIZAR</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>